<div class="text-center">
  <h1><%= @user.name %>のレシピ一覧</h1>
    <% @user.recipes.all.each do |user_recipe| %>
    　<li><%= link_to user_recipe.title, recipe_url(user_recipe) %></li>
  　<% end %>
</div>

