<div class="text-center">
  <% if logged_in? %>
   <p>ようこそ<%= current_user.name %>さん！</p>
   <h1>みんなのレシピ一覧</h1>

 
   <% @recipes.each do |recipe| %>
     <li><%= link_to recipe.title,  recipe_path(recipe) %></li>
   <% end %>
 
</div>
 <% else %>
 <div class="center jumbotron">
   <div class="text-center">
     <h1>My Recipes</h1>
     <h2>料理レシピをシェアしよう！</h2>
     <%= link_to '新規会員登録はこちら', signup_path %>
   </div>
 </div>
 <% end %>